* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background-color: #050e61f6;
}

/* NAVBAR */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background: rgba(59, 60, 65, 0);
    z-index: 100;
}

.logo {
    font-size: 20px;
    color: #5eb857;
}

.nav-link {
    list-style: none;
    display: flex;
    gap: 35px;
}

.nav-link a {
    text-decoration: none;
    color: #5eb857;
    font-weight: 700;
}

/* HERO */
.hero {
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    padding-top: 80px;
    position: relative;
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
}

.hero h1,
.hero p,
.hero .btn {
    position: relative;
    z-index: 1;
}

.hero h1 {
    font-size: 48px;
    color: #0e5cc9;
    margin-bottom: 15px;
}

.hero p {
    font-size: 18px;
    color: #94a3b8;
    margin-bottom: 15px;
}

/* BOUTON */
.btn {
    padding: 16px 50px;
    background: #38bdf8;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.6s;
    border: none;
}

.btn:hover {
    background: #0ea5e9;
}

/* FOOTER */
.motivation {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background: rgba(22, 31, 55, 0.704);
    border-bottom: 5px solid #5973a1;
}

.nav-links .img {
    width: 40px;
    height: 40px;
    margin: 0 1rem;
    object-fit: cover;
    border-radius: 50%;
}

.motivation .bas {
    color: #5eb857;
}

.motivation .coucou {
    color: #ffffff;
}

.motivation .caca {
    color: #f9f2f9;
}
.her {
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.her p {
    font-size: 18px;
    color: #94a3b8;
    margin-bottom: 15px;
}
